<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Adresse</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Offre liée</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Chalopin</td>
        <td>Alexy</td>
        <td>07 56 98 56 58</td>
        <td>5 rue du petit pont</td>
        <td>Alexylebg@hotmail.fr</td>
        <td>Comics</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lincker</td>
        <td>Luc</td>
        <td>06 55 23 56 89</td>
        <td>9 Rue du moyen Pont</td>
        <td>mako57310@hotmail.fr</td>
        <td>Cultura</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Husein</td>
        <td>03 65 98 78 58</td>
        <td>Mark</td>
        <td>Otto@otoo.com</td>
        <td>Delta</td>
      </tr>
    </tbody>
</table>
      <div class="boutons"><button class="w-100 btn btn-lg btn-primary" type="submit">Créer</button>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Modifier</button>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Supprimer</button></div>
