 <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Titre</th>
        <th scope="col">Ordre</th>
        <th scope="col">Sous-thématique</th>
        <th scope="col">Slides</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Presentation</td>
        <td>1</td>
        <td><table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Titre</th>
                <th scope="col">Ordre</th>
                <th scope="col">Slides</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Presentation</td>
                <td>1</td>
                <td>3</td>
                <td><a href="#" class="btn btn-primary">Modifier</a>
                    <a href="#" class="btn btn-primary">Supprimer</a></td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Conclusion</td>
                <td>2</td>
                <td>1</td>
                <td><a href="#" class="btn btn-primary">Modifier</a>
                    <a href="#" class="btn btn-primary">Supprimer</a></td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Remerciements</td>
                <td>3</td>
                <td>2</td>
                <td><a href="#" class="btn btn-primary">Modifier</a>
                    <a href="#" class="btn btn-primary">Supprimer</a></td>
                
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Questions</td>
                <td>4</td>
                <td>1</td>
                <td><a href="#" class="btn btn-primary">Modifier</a>
                    <a href="#" class="btn btn-primary">Supprimer</a></td>
                
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Fin</td>
                <td>1</td>
                <td>5</td>
                <td><a href="#" class="btn btn-primary">Modifier</a>
                    <a href="#" class="btn btn-primary">Supprimer</a></td>
                
              </tr>
            </tbody>
        </table></td>
        <td>5</td>
        <td><a href="#" class="btn btn-primary">Modifier</a>
            <a href="#" class="btn btn-primary">Supprimer</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td><table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Titre</th>
                <th scope="col">Ordre</th>
                <th scope="col">Sous-thématique</th>
                <th scope="col">Slides</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td><table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Titre</th>
                <th scope="col">Ordre</th>
                <th scope="col">Sous-thématique</th>
                <th scope="col">Slides</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td><table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Titre</th>
                <th scope="col">Ordre</th>
                <th scope="col">Sous-thématique</th>
                <th scope="col">Slides</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td></td>
        <td></td>
        <td><table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Titre</th>
                <th scope="col">Ordre</th>
                <th scope="col">Sous-thématique</th>
                <th scope="col">Slides</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>
      
      <div class="btn-group">
        <a href="http://localhost:4200/User/new" class="btn btn-primary">Créer</a>
        <a href="#" class="btn btn-primary">Modifier</a>
        <a href="#" class="btn btn-primary">Supprimer</a>
      
    </div>
    <div class="Pagenavigation">
    <nav aria-label="Pagenavigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Avant</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Après</a></li>
        </ul>
      </nav>
    </div>