

<div class="offres">
<figure class="figure">
    <img src="..." class="figure-img img-fluid rounded" alt=".png">
    <figcaption class="figure-caption">Offre 1</figcaption>
  </figure>
  <figure class="figure">
    <img src="..." class="figure-img img-fluid rounded" alt=".png">
    <figcaption class="figure-caption">Offre 2</figcaption>
  </figure>
  <figure class="figure">
    <img src="..." class="figure-img img-fluid rounded" alt=".png">
    <figcaption class="figure-caption">Offre 3</figcaption>
  </figure>

  <div class="btn-group">
    <a href="http://localhost:4200/Offer/new" class="btn btn-primary">Créer une nouvelle Offre</a>
    <a href="http://localhost:4200/Offer" class="btn btn-primary">Modifier Offre</a>
    <a href="http://localhost:4200/Offer" class="btn btn-primary">Supprimer Offre</a>
  </div>
</div>